<!DOCTYPE html>


<html><body style = "margin: 0">
	<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 2.33vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> <a href="/register">REGISTER</a> | <a href="/login">LOG IN</a></div>	
		</div>

  
   <div style = "background-color:#EB9A84; width: 100%; padding-bottom: 100vh">
<br>       

<center><h2>DOWNLOAD SONG</h2></center>
     <center>Step 1: Use a QR Reader App on QR Code </center>
     <center>Step 2: Phone will show a 4 digit code </center>
     <center>Step 3: Enter 4 digit code below  </center>
<br>

<form action="download" method="POST">
<div><center><label for="username">Code: </label> <input name="username" type="text" value="" /></center></div><br>
  


<div><center><input type="submit" value="Download" /></center></div>
</form>
</div></body></html>
