<!DOCTYPE html>
<html><body style = "margin: 0">
{% if username %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> Logged in as {{username}} </a> | <a href="/logout">LOG OUT</a></div>	
		</div>
{% else %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> <a href="/register">REGISTER</a> | <a href="/login">LOG IN</a></div>	
		</div>
{% endif %}
  <div style = "background-color:#EB9A84; width: 100%; padding-bottom: 100vh">
    <br>
    <center><p style = "font-size:50px"><b>BEATS FROM THE STREETS!</b></p></center>

{% if message %}
<div style="background-color: red; width: 100%; padding-bottom: 2.vh;">
<div class="error"><center>{{ message }}</center></div>
</div>
{% endif %}

{% if imagelist %}
		{% for image in imagelist %}
		
		<br><br>
		<center> download </center>
    	<center><img src={{image}} alt="QR Code" width="500" height="500" ></center>
		<br><br>
{% endfor %}
{% else %}
    <center><p style = "font-size:30px"> <a href="/upload">UPLOAD</a>  </p></center>
{% endif %}

		</div>
</body> </html>
