
<html><body style = "margin: 0">
{% if username %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> Logged in as {{username}} </a> | <a href="/logout">LOG OUT</a></div>	
		</div>
{% else %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> <a href="/register">REGISTER</a> | <a href="/login">LOG IN</a></div>	
		</div>
{% endif %}
   <div style = "background-color:#EB9A84; width: 100%; padding-bottom: 100vh">
 
<br>      

<center><h2>LOG IN</h2></center>

{% if message %}
<div style="background-color: red; width: 100%; padding-bottom: 2.vh;">
<div class="error"><center>{{ message }}</center></div>
</div>
{% endif %}



<form action="login" method="POST">
<div><center><label for="username">Username: </label> <input name="username" type="text" value="" /></center></div><br>
  
<div><center><label for="password">Password: </label> <input name="password" type="password" value="" /></center></div> <br>
  

<div><center><input type="submit" value="Log in" /></center></div>
</form>
</div></body></html>
