<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Beats from the streets</title>
</head>
<body style="margin: 0">
	<div style="background-color: #CBDCFC; width: 100%; padding-bottom: 3vh" id='header'>
		<div style="float: left">
			<a href="/">HOME</a>
		</div>
	</div>
	<div style="background-color: #EB9A84; width: 100%; padding-bottom: 100vh" id="body">
		<br>
		<center><h1>Statistics Page</h1></center>
		<br>
		{% if list %}
				<center><h2>Data Table</h2></center>
				<table style="width:100%">
					<tr>
    				<th>Title</th>
    				<th>Artist</th> 
    				<th>Number of download(s)</th>
					<th> Date and Time Uploaded </th>
					<th> Link to generate more qr codes </th>
  					</tr>
			{% for song in list%}
				<tr>
    				<th>{{song['title']}}</th>
    				<th>{{song['artist']}}</th> 
    				<th> <a href="/stat/{{song['code']}}">{{song['downloads']}}</a> </th>
					<th> {{song['time']}}</th>
					<th> <a href="/{{song['code']}}">{{song['code']}}</a> </th>
  					</tr>
			{% endfor %}
			</table>
		{% else %}
			{% if song %}
				<center><h2>Downloads: {{song['downloads']}}</h2></center>
				<table style="width:100%">
					<tr>
    				<th>Time Downloaded</th>
    				<th>Geolocation</th> 
  					</tr>
					{% for time in song['timelist'] %}
					<tr>
    					<th>{{time}}</th>
						<th>{{song['loclist'][loop.index - 1]}}</th>
					</tr>
					{% endfor %}

			</table>
			{% else %}
				<center> You never uploaded songs</center>
			{% endif %}
		{% endif %}
		
	</div>
</body>
</html>