<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Beats from the streets</title>
</head>
<body style="margin: 0">
	<div style="background-color: #CBDCFC; width: 100%; padding-bottom: 3vh" id='header'>
		<div style="float: left">
			<a href="/home">HOME</a>
		</div>
	</div>
	<div style="background-color: #EB9A84; width: 100%; padding-bottom: 100vh" id="body">
		<br>
		<center><h1>Statistics Page</h1></center>
		<br>
		<div id="data-table">
			<center>
				<h2>Data Table</h2>
				<h4>Items appear as Follows</h4>
				<ul id="format">
					<li>Title</li>
					<li>Artist</li>
					<li>Download</li>
				</ul>
			</center><
			<ul id="songs"></ul>
		</div>
	</div>
</body>
</html>