
<html><body style = "margin: 0">
{% if username %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> Logged in as {{username}} </a> | <a href="/logout">LOG OUT</a></div>	
		</div>
{% else %}
		<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> <a href="/register">REGISTER</a> | <a href="/login">LOG IN</a></div>	
		</div>
{% endif %}
  
   <div style = "background-color:#EB9A84; width: 100%; padding-bottom: 100vh">
<br>      


{% if message %}
<div style="background-color: red; width: 100%; padding-bottom: 2.vh;">
<div class="error"><center>{{ message }}</center></div>
</div>
{% endif %}

{% if image %}
	<br><br>
    <center><img src={{image}} alt="QR Code" width="500" height="500" ></center>
{% else %}
<center><h2>UPLOAD SONG</h2></center>
     <center>Step 1: Log in</center>
     <center>Step 2: Fill in the information below</center>
     <center>Step 3: Click Upload to show a QR Code </center>
     <center>Step 4: Print copies of QR Code and distribute to users </center>
<br>

<form action="upload" method="POST" enctype = "multipart/form-data">
<div><center><label for="username">Song Title: </label> <input name="title" type="text" value="" /></center></div><br>
  
<div><center><label for="username">Artist(s): </label> <input name="artist" type="text" value="" /></center></div><br>  

<div><center>Please specify a file: </label> <input type="file" name="file"></center></div><br>  


<div><center><input type="submit" value="Upload" /></center></div>
</form>
{% endif %}


</div></body></html>
