
<html><body style = "margin: 0">
	<div style = "background-color:#CBDCFC; width: 100%; padding-bottom: 3vh">
		<div style="float: left"><a href="/">HOME</a> | <a href="/stat">STATISTICS</a></div>
		<div style="float: right"> <a href="/register">REGISTER</a> | <a href="login">LOG IN</a></div>	
		</div>

  
   <div style = "background-color:#EB9A84; width: 100%; padding-bottom: 100vh">
<br>      

<center><h2>UPLOAD SONG</h2></center>
     <center>Step 1: Fill in information below</center>
     <center>Step 2: Click Upload to show a QR Code </center>
     <center>Step 3: Print copies of QR Code and distribute to users </center>
<br>

<form action="upload" method="POST">
<div><center><label for="username">Song Title: </label> <input name="username" type="text" value="" /></center></div><br>
  
<div><center><label for="username">Artist(s): </label> <input name="username" type="text" value="" /></center></div><br>
  
  

<div><center><input type="submit" value="Upload" /></center></div>
</form>
</div></body></html>
